html,body{
	margin:0;
	padding:0;
}
.mheader{
	background:#545c64;
	height:60px;
	.headerwrap{
	  width:90%;
	  margin:0 auto;
	  padding:0;
	  .menuleft{
	    float:left;
	  }
	  .menuright{
	    float:right;
	    color:#fff;
	    .gohomepage{
	      text-decoration:none;
	      color:#fff;
	      display:inline-block;
	      height:60px;
	      line-height:60px;
	      padding:0 10px;
	      border-left:1px solid #777;
	      border-right:1px solid #777;
	    }
	    .el-dropdown{
	      color:#fff;
	      height:60px;
	      line-height:60px;
	      .useravater{
	        border-radius:50%;
	        width:40px;
	        height:40px;
	        line-height:40px;
	        display:inline-block;
	        background:#777;
	      }
	      .username{
	        margin: 0 5px;
	      }
	    }
	  }
	}
}
.loginwrap{
	width:60%;
	margin:0 auto;
	position:relative;
	.logintitle{
	  text-align:center;	  
	}
	.loginselectwrap{
	  position:absolute;
	  top:0;
	  right:0;
	  .el-select{
	    width:120px;
	    float:right;
	  }
	}
}